.card{
    width: 250px;
    height: 450px;
    border: solid 2px #afafaf;
    background-color: #efefef;
    margin: 25px;
}
.card> div > h1{
    text-align: center;
    color: #c7b5b5;
    font-family: Verdana SansSerif, serif;

}
.card> div > p {
    box-sizing: border-box;
font-family: Arial sans-serif;
    color: #96a586;
    text-align: justify;
    padding: 20px;
}
.btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn>a{
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #d5e8e8;
    vertical-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #6c7484;
    font-family: Verdana sans-serif;
    border-radius: 7px;
    border: solid 2px #8d8d8d;
}
.together {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}