body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid greenyellow;
}

button>a{
    text-decoration: none;
    color: #2e59b1;
    font-weight: bold;
}

.header {
    width: 49%;
    height: 150px;
    background-color: #2e59b1;
    text-align: center;
    border-radius: 5px;
}

.user{
    color: #efefef;

}
